rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /leads/{doc} {
      allow create: if request.resource.data.name is string
                    && request.resource.data.phone is string
                    && request.resource.data.message is string;
      allow read: if false;
    }

    match /reviews/{doc} {
      allow read: if true;
      allow create: if request.auth != null;
      allow delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    match /test/{doc} {
      allow read: if true;
    }
  }
}
